NODE_ENV=

APP_PORT=
WORKER_PORT=
WORKER_METRICS_PORT=3002

DATABASE_URL=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL=

SQS_WEBHOOK_EVENTS_QUEUE_NAME=
SQS_WEBHOOK_EVENTS_DLQ_NAME=

WEBHOOK_ALLOWED_TIMESTAMP_SKEW_SECONDS=

SQS_WEBHOOK_EVENTS_QUEUE_URL=
SQS_WEBHOOK_EVENTS_DLQ_URL=
SQS_MAX_RECEIVE_COUNT=

WORKER_POLL_INTERVAL_MS=
WORKER_MAX_MESSAGES=
WORKER_WAIT_TIME_SECONDS=